<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patchy</title>
    <style>
      {{ template "index.css" }}
    </style>
    {{ if .EnableLiveReload }} {{ .LiveReloadScript }} {{ end }}
    <script defer src="assets/htmx.js"></script>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
    </nav>

    <h1>Patchy</h1>

    <span>Search Linux mailling lists</span>

    <ul>
      {{ template "searchForm" .}}
    </ul>
  </body>
</html>
